.Home-Hero-Continer{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(../../assets/home_banner.jpg);
    /* background-attachment: local; */
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.Home-Hero-Wrapper{
    width: 80%;
    display: flex;
    justify-content: center;
}

.Home-Hero-Center{
    text-align: center;
    margin-bottom: -45px;
}

@media screen and (max-width: 768px){
    .Home-Hero-Wrapper{
        width: 95%;
    }
}
  