.Home-Hero-Continer{
    height: 100vh;
    background: url(../../assets/ossaye.png);
    /* background-attachment: local; */
    width: 100%;
    background-position: bottom;
    background-size:contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1E191E;
}

.Home-Hero-Wrapper{
    width: 80%;
    display: flex;
    justify-content: center;
}

.Home-Hero-Center{
    text-align: center;
    margin-bottom: -95px;
    border-radius: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9))
}

.Home-Hero-Center > span{
    /* font-weight: bold; */
    letter-spacing: 0.2em;
}

.Home-Hero-Center > h1{
    margin-top: 25px;
}

.Typing-Text-Holder{
    font-size: 40px;
}


@media screen and (max-width: 768px){
    .Home-Hero-Continer{   
        background-position: center;
    }
    .Home-Hero-Wrapper{
        width: 95%;
    }
    .Typing-Text-Holder{
        font-size: 35px;
    }
}

@media screen and (max-width: 460px){
    .Typing-Text-Holder{
        font-size: 25px;
    }
    .Home-Hero-Continer{   
        background-size:cover;
    }
    .Home-Hero-Center{
        margin-bottom: -150px;
    }
}
  