.Connect-Container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0 70px 0;
}

.Connect-Header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Connect-Header >span{
    opacity: 0.6;
    font-size: 12px;
    font-family: poppins;
    letter-spacing: 0.4em;
}

.Connect-Header >h1{
    margin: 0;
    font-family: poppins;
    margin-top: 5px;
}

.Connect-Container-Wrapper{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.Connect-Right-Contain{
    color: white;
    width: 55%;
    background-color: #000000;
    border-radius: 8px;
}

.Connect-Right-Header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(77, 76, 76);
}

.Connect-Right-Header-Wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.Connect-Right-Content{
    height: 250px;
    overflow-y: auto;
    cursor: pointer;
    border-radius: 8px;
}

.Connect-Right-Content:hover{
    border-radius: 8px;
    background: linear-gradient(rgba(43, 42, 46, 0.9), rgba(43, 42, 46, 0.9));
}

.Connect-Right-Columns{
    /* height: 200px; */
    border-bottom: 1px solid rgb(77, 76, 76);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Connect-Right-Columns-Wrap{
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    padding: 8px 0 8px 0;
}

.Connect-Right-Columns-Left{
    width: 14%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.Connect-Right-Columns-Right{
    width: 85%;
    height: 100%;
}

.Twitter-Profile{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 4px;
}

.Follow-Button{
    height: 35px;
    width: 90px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
}

.Follow-Button:hover{
    background: linear-gradient(rgba(227, 227, 231, 0.3), rgba(219, 218, 222, 0.3));
    color: white;
    border: 1px solid whitesmoke;
}

.Connect-Right-Columns-Top-Para{
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
}

.Twit-Footer-Icons{
    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Twit-Footer-Icons-Lv{
    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Twit-Footer-Icons-Lv:hover{
    color: red;
}

.Twi-Icons{
    display: flex;
    height: 25px;
    align-items: center;
}

.Twi-Icons-love{
    display: flex;
    height: 25px;
    align-items: center;
}

.Twi-Icons-love:hover{
    color: red;
}

.Twit-Footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.Twit-Body{
    width: 100%;
    border: 1px solid rgb(83, 82, 82);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Main-Story{
    margin: 0;
    font-size: 16px;
    margin-bottom: 8px;
}

.Punch-Link{
    width: 95%;
    margin: 10px 0 10px 0
}

@media screen and (max-width: 768px){
    .Connect-Container-Wrapper{
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    .Connect-Left-Contain{
        width: 80%;
        margin-bottom: 20px;
    }
    .Connect-Right-Contain{
        width: 80%;
    }
}

@media screen and (max-width: 460px){
    .Connect-Container{
        padding: 30px 0 30px 0;
    }
    .Connect-Container-Wrapper{
        width: 100%;
    }
    .Connect-Left-Contain{
        width: 90%;
    }
    .Connect-Right-Contain{
        width: 95%;
    }
    .Connect-Header >h1{
        font-size: 25px;
    }
    .Twitter-Profile{
        height: 40px;
        width: 40px;
    }
    .Connect-Right-Columns-Top-Para{
        font-size: 14px;
        font-weight: bold;
    }
    .Main-Story{
        font-size: 14px
    }
}