.Connect-Container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0 70px 0;
}

.Connect-Header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Connect-Header >span{
    opacity: 0.6;
    font-size: 12px;
    font-family: poppins;
    letter-spacing: 0.4em;
}

.Connect-Header >h2{
    margin: 0;
    font-family: poppins;
    margin-top: 5px;
}

.Connect-Container-Wrapper{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}