.Footer-Container {
    background-color: #171724;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 0 0;
}

.Footer-Logo{
    width: 100px;
}

.Footer-Reserved{
    height: 50px;
    width: 100%;
    background-color: #0c0c17;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

@media screen and (max-width: 650px){
    .Footer-Name{
        font-size: 18px;
    }
}

@media screen and (max-width: 420px){
    .Footer-Reserved{
        font-size: 14px;
    }
}

@media screen and (max-width: 325px){
    .Footer-Reserved{
        font-size: 12px;
    }
}

.Footer-Akanbi-Hold{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}